


@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCMurukmuruk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'KCCMurukmuruk';
  font-weight: 800;
  width: 100%;
  height: 100vh;
}


.wrap{
  width: 100%;
  height: 100vh;
  background: url(../common/img/bg.png) no-repeat center/cover;
  position: absolute;
}
.wrap h1{
  font-family: 'EF_jejudoldam';
  font-size: 70px;
  text-align: center;
  padding-top: 200px;

    background: linear-gradient(
      307deg, #2f9355 0%, #c4d23d 100%
    );
    background: -2f9355-linear-gradient(
      307deg, #4791f3 0%, #c4d23d 100%
    );
    background: -moz-linear-gradient(
      307deg, #2f9355 0%, #c4d23d 100%
    );
    background: -o-linear-gradient(
      307deg, #2f9355 0%, #c4d23d 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    clip-path: inset(1px);

}
.signBoard{
  width: 300px;
  height: 350px;
  background: url(../common/img/img.png) no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-15%);
}
.signBoard p{
  font-size: 30px;
  text-align: center;
  color: #3f2511;
  cursor: pointer;
}
.signBoard p:first-child{
  margin-top: 130px;
}
.signBoard p:last-child{
  margin-top: 100px;
}
.game_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-15%);
  width: 450px;
  height: 600px;
  background: url(../common/img/img2.png) no-repeat center/cover;
}
.game_img img{
  max-width: 100%;
}













